@font-face {
  font-family: "Proxima Nova Rg";
  src: url("./assets/fonts/ProximaNova-Bold.eot");
  src: url("./assets/fonts/ProximaNova-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("./assets/fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("./assets/fonts/ProximaNova-Regular.eot");
  src: url("./assets/fonts/ProximaNova-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("./assets/fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("./assets/fonts/ProximaNova-Semibold.eot");
  src: url("./assets/fonts/ProximaNova-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("./assets/fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-expanded .main-header {
  @apply bg-blue-1 h-screen;
}
.nav-expanded .black-logo {
  @apply hidden;
}

@layer {
  body {
    @apply font-normal font-proxima text-base text-gray-1.9;
  }
}
